<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/style.css">

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="categoria">
        <section class="categoria__header">
            <div class="categoria__nav">
                <ul class="nav">
                    <li class="nav__item"><a class="nav__links" href="/tienda/headwear">headwear</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/sweaters">sweaters</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/jewelry">jewelry</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/t-shirts">t-shirts</a></li>
                    <div class="nav__carrito"></div>
                </ul>
            </div>

            {{#if esJewelry}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esHeadwear}}
            <div class="categoria__banner" style="background-image: url(/imagenes/headwear.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esSweaters}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esT_shirts}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

        </section>

        <div class="cart">
            <p>cart</p>
            <p class="cart__cant">0</p>
            <ul class="cart__cartMenu-lista"></ul>
        </div>

        <div class="filtros">
            <div class="filtros__contenedor">
                {{#if esHeadwear}}
                <p class="filtros__titulo">Filter</p>
                <input value="{{precio}}" class="input-rango" type="range" min="2499" max="3999">

                {{/if}}
            </div>
        </div>

        <section class="categoria__contenido">

            <div class="items">

                {{#each productos}}
                <div class="item">
                    <img class="item__img" src="{{imagenes.[0]}}" alt="">

                    <div class="item__info">
                        <div class="item__infoEsp">
                            <a class="item__nombre" href="/tienda/producto/{{nombre}}">{{nombre}}</a>
                            <!--<p class="producto__nombre">{{nombre}}</p>-->
                            <p class="item__precio">$ {{precio}}</p>
                        </div>
                        <div class="item__likeBtn"></div>
                        <button class="item__carritoBtn">carrito</button>
                    </div>
                </div>
                {{/each}}

            </div>
        </section>

    </div>

    <script src="/script/categoria.js"></script>

</body>

</html>