<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/style.css">

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <!--Menu de hamburguesa para la version mobile-->
    <div class="sideMenu">
        <div class="sideMenu__menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <button class="sideMenu__cerrar">Close x</button>
        <ul class="sideMenu__navResponsive">
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/headwear">Headwear</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/sweaters">Sweaters</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/jewelry">Jewelry</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/t-shirts">T-shirts</a></li>
        </ul>
    </div>

    <!--Menu del carrito para la version mobile-->
    <div class="cart">
            <div class="cart__cant-container">
                <p class="cart__cant">0</p>
            </div>
            <div class="cart__carrito-btn">
                <img src="/imagenes/cart.png" alt="">
            </div>
        <button class="cart__cerrar">Close x</button>
        <h1 class="cart__titulo">YOUR CART</h1>
        <ul class="cart__cartMenu-lista"></ul>
    </div>

    <div class="categoria">
        <section class="categoria__header">

            <div class="categoria__nav">
                <!--Barra de navegacion para pantallas grandes-->
                <ul class="nav">
                    <li class="nav__item"><a class="nav__links" href="/tienda/headwear">headwear</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/sweaters">sweaters</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/jewelry">jewelry</a></li>
                    <li class="nav__item"><a class="nav__links" href="/tienda/t-shirts">t-shirts</a></li>
                </ul>
            </div>

            {{#if esJewelry}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esHeadwear}}
            <div class="categoria__banner" style="background-image: url(/imagenes/headwear.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esSweaters}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

            {{#if esT_shirts}}
            <div class="categoria__banner" style="background-image: url(/imagenes/jewelry.jpg)">
                <h1 class="categoria__titulo">{{categoria}}</h1>
            </div>
            {{/if}}

        </section>

        <div class="filtros">
            <div class="filtros__contenedor">
                {{#if esHeadwear}}
                <p class="filtros__titulo">Filter</p>
                <select name="filtro_precio" id="">
                    <a href=""><option class="dropdownPrice" value="{{precio}}">24.99</option></a>
                    <option class="dropdownPrice" value="{{precio}}">39.99</option>
                </select>
                <input value="{{precio}}" class="input-rango" type="range" min="24.99" max="39.99">

                {{/if}}
            </div>
        </div>

        <section class="categoria__contenido">

            <div class="items">

                {{#each productos}}
                <div class="item">
                    <img class="item__img" src="{{imagenes.[0]}}" alt="">

                    <div class="item__info">
                        <div class="item__infoEsp">
                            <a class="item__nombre" href="/tienda/producto/{{nombre}}">{{nombre}}</a>
                            <!--<p class="producto__nombre">{{nombre}}</p>-->
                            <p class="item__precio">$ {{precio}}</p>
                        </div>
                        <div class="item__likeBtn"></div>
                        <button class="item__carritoBtn">carrito</button>
                    </div>
                </div>
                {{/each}}

            </div>
        </section>

    </div>

    <script src="/script/categoria.js"></script>

</body>

</html>