<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <!--Menu de hamburguesa para la version mobile-->
    <div class="sideMenu">
        <div class="sideMenu__menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <button class="sideMenu__cerrar">Close x</button>
        <ul class="sideMenu__navResponsive">
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda">Home</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/headwear">Headwear</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/sweaters">Sweaters</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/jewelry">Jewelry</a></li>
            <li class="sideMenu__item"><a class="sideMenu__links" href="/tienda/t-shirts">T-shirts</a></li>
        </ul>
    </div>

    <!--Menu del carrito para la version mobile-->
    <div class="cart">
        <div class="cart__cant-container">
            <p class="cart__cant">0</p>
        </div>
        <div class="cart__carrito-btn">
            <img src="/imagenes/cart.png" alt="">
        </div>

        <button class="cart__cerrar">Close x</button>
        <h1 class="cart__titulo">YOUR CART</h1>
        <div class="cart__cartMenu-lista">


        </div>

        <p class="cart__valorTotal"></p>

        <a href="/checkout"><button>Proceed to Checkout</button></a>
    </div>

    <section class="categoria__header">
        <!--Barra de navegacion para pantallas grandes-->
        <div class="categoria__nav">
            <ul class="nav">
                <li class="nav__item"><a class="nav__links" href="/tienda/headwear">headwear</a></li>
                <li class="nav__item"><a class="nav__links" href="/tienda/sweaters">sweaters</a></li>
                <li class="nav__item"><a class="nav__links" href="/tienda/jewelry">jewelry</a></li>
                <li class="nav__item"><a class="nav__links" href="/tienda/t-shirts">t-shirts</a></li>
            </ul>
        </div>
    </section>

    <div class="categoria">
        <section class="categoria__contenido">
            <section class="preview">
                <div class="preview__principal" style="background-image: url({{producto.imagenes.[0]}})"></div>
                <!--<img class="preview__principal" src="{{producto.imagenes.[0]}}" alt="">-->
                <div class="preview__miniaturas">
                    <img class="preview__miniatura" src="{{producto.imagenes.[0]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[1]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[2]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[3]}}" alt="">
                </div>
            </section>

            <div class="contenedor-responsive">
                <section class="producto__info">
                    <section class="encabezado">
                        <div class="titulo-contenedor">
                            <h1 class="encabezado__titulo">{{producto.nombre}}</h1>
                        </div>

                        <div class="precio-contenedor">
                            <p class="encabezado__precio">$ {{producto.precio}}</p>
                        </div>
                    </section>

                    <section class="producto__config">
                        <div class="opciones">
                            <div class="opciones__contenedor1">
                                <p class="opcione__tamano">size</p>
                                <p>{{producto.tamano}}</p>

                                <p>color</p>
                                <p>{{producto.colores}}</p>

                                <p class="envio-anuncio">Shipping cost: <strong>From $40.00</strong></p>
                                <p class="envio-anuncio">Shipping to <strong>Colombia</strong> will take <strong>6-8
                                        bussines days</strong></p>
                            </div>

                            <div class="opciones__contenedor2">
                                <div class="cantidad">
                                    <button class="cantidad__mas">+</button>
                                    <p class="cantidad__contador">0</p>
                                    <button class="cantidad__menos">-</button>
                                </div>

                                <div class="opciones__contenedor3">
                                    <div class="opciones__whish">
                                        <img src="/imagenes/whish.png" alt="">
                                    </div>
                                    <div class="opciones__cart">
                                        <img src="/imagenes/cartProd.png" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="descripcion">
                        <h1 class="descripcion__titulo">Description</h1>
                        <p class="descripcion__info">{{producto.descripcion}}</p>
                    </section>

                    <div class="pasarPorductos">
                        <a href="">Previous Product</a>
                        <a href="">Next Product</a>
                    </div>
            </div>
        </section>

        <div class="contenido-secundario">
            <section class="producto__recomendados">
                <h1>Also see</h1>
            </section>

            <section class="categorias">
                <div class="categorias__cont-fila">
                    <div class="categorias__contenedorHead">
                        <a class="categorias__link" href="/tienda/headwear"><button
                                class="categorias__boton">HEADWEAR</button></a>
                    </div>
                    <div class="categorias__contenedorSweat">
                        <a class="categorias__link" href="/tienda/sweaters"><button
                                class="categorias__boton">SWEATERS</button></a>
                    </div>
                </div>

                <div class="categorias__cont-fila">
                    <div class="categorias__contenedorJew">
                        <a class="categorias__link" href="/tienda/jewelry"><button
                                class="categorias__boton">JEWELRY</button></a>
                    </div>
                    <div class="categorias__contenedorT">
                        <a class="categorias__link" href="/tienda/t-shirts"><button
                                class="categorias__boton">T-SHIRTS</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="/script/categoria.js"></script>
    <script src="/script/menus.js"></script>

</body>

</html>