<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="producto">
        <section class="categoria__header">
            <div class="categoria__nav">
                <ul class="nav">
                    <li class="item"><a class="links" href="/tienda/headwear">headwear</a></li>
                    <li class="item"><a class="links" href="/tienda/sweaters">sweaters</a></li>
                    <li class="item"><a class="links" href="/tienda/jewelry">jewelry</a></li>
                    <li class="item"><a class="links" href="/tienda/t-shirts">t-shirts</a></li>
                </ul>
            </div>
        </section>

        <section class="producto__contenido">
            <section class="preview">
                <img class="preview__principal" src="{{producto.imagenes.[0]}}" alt="">
                <div class="preview__miniaturas">
                    <img class="preview__miniatura" src="{{producto.imagenes.[0]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[1]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[2]}}" alt="">
                    <img class="preview__miniatura" src="{{producto.imagenes.[3]}}" alt="">
                </div>
            </section>

            <section class="producto__info">
                <section class="encabezado">
                    <h1 class="encabezado__titulo">{{producto.nombre}}</h1>
                    <p class="encabezado__precio">${{producto.precio}}</p>
                </section>

                <section class="producto__config">
                    <div class="opciones">
                        <p class="cart__cant">0</p>
                        <ul class="cart__cartMenu-lista"></ul>
                        <button class="opciones__cart">Add to cart</button>
                    </div>

                </section>

                <p>{{descripcion}}</p>
            </section>

            <section class="producto__recomendados">

            </section>

        </section>
    </div>

    <script src="/script/categoria.js"></script>

</body>

</html>